// input {
//   background: rgba(0,124,212,0.3) !important;
// }

// input:-internal-autofill-selected {
//   background: rgba(0,124,212,0.3) !important;
// }
// input {
//   background: rgba(0,124,212,0.3) !important;
//   color: #fff;
// }

.nextInput{
  width: 240px;
  border-radius: 5px;
  border-color:  #003399 #005BAC #003399 !important;
  background: rgba(0,91,172,0.35) !important;
  margin-left: 45px;
  padding: 1px;
  input {
    color: #fff !important;
  }
  :focus, :hover{
    background: -webkit-linear-gradient(to right,rgba(0,91,172,0.5) 0%, rgb(0,91,172) 50%,rgb(0,91,172) 100%);
    background: -o-linear-gradient(to right,rgba(0,91,172,0.5) 0%, rgb(0,91,172) 50%,rgb(0,91,172) 100%);
    background: -moz-linear-gradient(to right,rgba(0,91,172,0.5) 0%, rgb(0,91,172) 50%,rgb(0,91,172) 100%);
    background: -mos-linear-gradient(to right,rgba(0,91,172,0.5) 0%, rgb(0,91,172) 50%,rgb(0,91,172) 100%);
    background: linear-gradient(to right,rgba(0,91,172,0.5) 0%, rgb(0,91,172) 50%,rgb(0,91,172) 100%);
    color: #fff;
  }

}

// .nextInput:hover{
//   border-color: linear-gradient(to left,rgb(0,91,172) 0%, rgba(0,91,172,0.5) 100%) !important;
// }

// .nextInput:focus{
//   border-color: linear-gradient(to left,rgb(0,91,172) 0%, rgba(0,91,172,0.5) 100%) !important;
// }
